#Define key variables for the run

cycle=2025112700 #Default example YYYYMMDDHH
forecast_length=48 # in hours
hycom_init="/scratch/09534/st37357/hycom_manual/hycominit"
wrf_init="/scratch/09534/st37357/hycom_manual/wrfinit"
coupled_run_path="/scratch/09534/st37357/hycom_manual/com"
input_data_path="/scratch/09534/st37357/test_iola_data"
iola_repo_path="/work2/09534/st37357/stampede3/IOLA"
fix_path="/work2/09534/st37357/frontera/fix"
wgrib2="/work2/09917/shyamamohanty06/stampede3/wgrib2-3.7.0/build/wgrib2/wgrib2"
exec="ibrun" #chagne to  mpirun, srun etc. depending on the system
 
